*{
    box-sizing: border-box;
}
body{    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
}
.header{
    width: 100%;
    min-height: 900px;
    background-color: #f3f7fb;
    background-image: radial-gradient(circle 675px at center, #ffffff 0%, #f3f7fb 100%);
}
/* @media(max-width:1200px){
    .header{
        max-width: 100%;
    }
} */
.container{
    width: 1170px;
    margin: 0 auto;
}
@media(max-width:1200px){
    .container{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media(max-width:660px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.nav-wrapper{
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}
@media(max-width:1085px){
    .nav-wrapper{
        justify-content: center;
    }
}
.logo{
    font-size: 28px;
    line-height: 1;
    font-weight: 900;
    
    color: #000000;
}
@media(max-width:660px){
    .logo{
        font-size: 28px;
    }
}
.logo span{
    color: #5abb33;
}
.nav{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
@media(max-width:1085px){
    .nav{
        display: none;
    }
}
.nav__item{
    margin-right: 50px;
}
.nav__item:last-child{
    margin-right: 0;
}
.nav__link{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}
.nav__link:hover{
    text-decoration: underline;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
@media(max-width:1085px){
    .header-content{
        flex-direction: column;
        align-items: center;
    }
}
.header-desc{
    width: 500px;
    padding-top: 90px;
}
@media(max-width:1085px){
    .header-desc{
        padding-top: 0;
        margin-bottom: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:660px){
    .header-desc{
        max-width: 300px;
        padding-right: 30px;
        padding-left: 30px;
    }
}
.header__title{
    color: #000000;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 35px;
}
@media(max-width:660px){
    .header__title{
        font-size: 32px;
        margin-bottom: 25px;
    }
}
.header__text{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    margin-bottom: 35px;
}
@media(max-width:660px){
    .header__text{
        font-size: 18px;
        margin-bottom: 25px;
    }
}
.header__btn{
    display: inline-block;
    height: 65px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    background-color: #fadb60;
    background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);

    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    line-height: 65px;
}
@media(max-width:660px){
    .header__btn{
        font-size: 16px;
        line-height: 48px;
        height: 48px;
    }
}

.header-photo{
    width: 670px;
}
@media(max-width:720px){
    .header-photo img{
        width: 300px;
        object-fit: contain;
    }
    .header-photo{
        display: flex;
        justify-content: center;
        width: 300px;
    }
}
@media(max-width:1085px){
    .header-social{
        display: flex;
        justify-content: center;
        padding: 50px 0;
    }
}
.header__social-item{
    /* display: inline-block; */
    font-size: 27px;
    color: #3d3e3f;
    text-decoration: none;
    margin-right: 30px;    
}
@media(max-width:1085px){
    .header__social-item{
        display: inline-block;
    }
}
.header__social-item:last-child{
    margin-right: 0;
}
.header__social-item:hover{
    opacity: 0.8;
}
.footer{
    width: 100%;
    height: 114px;
    background-color: #232323;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 2.1;
}
@media(max-width:660px){
    .footer{
        font-size: 12px;
        min-height: 114px;
    }
    .footer p{
        max-width: 300px;
        text-align: center;
    }
}
.footer::before{
    content: "";
    display: table;
}
.footer a{
    color: #fada5a;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}